/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
}

.header input[type=range] {
  width: 100%;
  margin-top: 10px;
}
.navbar{
  background-color: #fff;
  margin-bottom: 0px;
  border: none;
}
.navbar-brand{
  color: #000 !important;
  margin-left: 0px !important;
  height: auto;
  width: 680px;
  padding-top: 10px;
  padding-bottom: 4px;
  margin-bottom: 0;
}
/*-- change anios dropdown color --*/
  .dropdown-menu>li>a, .dropdown-menu {
    background-color: #ffffff;
    color: #428bca;
  }
  .li-btn-group {
    text-align: left;
    width: 100px;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3godDxAimN1UlAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAySURBVBjThY4xEgAwCMKM//9zOrGpzUoOQC1AlRro+jAKgKegEol82CbQOcvxvsKzITwveR4FQsJ+twAAAABJRU5ErkJggg==);
    list-style-image: url('data:image/svg+xml;utf8,<svg width="8" height="8" xmlns="http://www.w3.org/2000/svg"><g><g><path id="svg_2" d="m0,0l0,5l8,0l-2,-2l0,4l2,-2l-7,0l0,-4z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="%23428bca" fill="%23428bca"/></g></g></svg>');
  }
  #svg_2{
    fill: #00f;
  }
  .btn{
    text-align: left;
  }
  .nav > li > a {
    padding: 4px 15px;
  }

.breadcrumb {
  margin-bottom: 0px;
}
.btn-anios{
  display: none;
}

/* Custom page footer */
.footer {
  padding-top: 5px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer .copyleft {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.container-narrow > hr {
  margin: 30px 0;
}

.container section {
  min-height: 585px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and down 1200 */
@media screen and (max-width: 1199px) {
  .navbar-brand{
    width: 485px;
    padding-top: 10px;
  }
}
/* Responsive: Portrait tablets and down 992 */
@media screen and (max-width: 991px) {
  .navbar-brand{
    width: 460px;
    padding-top: 10px;
  }
  .geoelectoral-titulo{
    width: 140px;
  }
}
/* Responsive: Portrait tablets and down 768 */
@media screen and (max-width: 767px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0;
  }
  .navbar-brand{
    width: auto;
    padding-top: 0;
  }
  .btn-anios{
    color: #428bca;
    display: block;
    font-size: 1.5em;
  }
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu .dropdown-menu {
    position: absolute !important;
  }
  .nav-anios{

    left: auto;
    min-width: 100px;
   /* max-width: 100px;*/
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@media screen and (max-width: 380px) {
  .geoelectoral-titulo{
    padding-left: 15px;
    font-size: 20px;
    width: 180px;
  }
  .navbar-brand{
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
  }
  .dpas button{
    font-size: 9px;
    padding: 6px 4px;
  }
  .nav > li > a{
    padding: 4px 15px;
  }
}
@media screen and (max-width: 280px) {
  .header h3{
    font-size: 16px;
  }
}

/* Estadísticas */
.statistics .numero {
  text-align: right;
}
.statistics h3 {
  margin-top: 0px;
}
.statistics table .bandera {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 20px;
  height: 20px;
}
.statistics table .seleccionado {
  border-radius: 0px !important;
}


/* Tooltip */
#tooltip-mapa hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  border-top: 1px solid #eee;
}

div.tooltip-mapa {
  position: absolute;
  text-align: left;
  width: 115px;
  font: 11px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  padding: 8px;
  pointer-events: none;
}

/* Gráficos */
svg g, .affix-anios, .tooltip-tabla {
  cursor: pointer;
}

/* Mapa */
svg .departamentos path {
  stroke: white;
}

/* Etiquetas de partidos ganadores - mapa */
svg .etiquetas text {
  fill: rgb(44, 44, 44);
  text-anchor: middle;
  font-size: 11px;
}
svg .fondos rect {
  fill: white;
  opacity: 0;
}

svg .hover:hover {
  fill: #bbb;
  opacity: 0.3;
}

/* Affix años */
.affix-anios li.active{
  font-size: 1.5em;
}
.affix-anios li a{
  line-height: 20px;
}

/* Barras */
.bar {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

.x.axis path {
  display: none;
}

.x.axis line {
  stroke: #bbb;
  stroke-dasharray: 2,2;
}

#barras text {
  font: 13px sans-serif;
}

#barras text.etiqueta {
  font: 13px sans-serif;
}

/* Torta */
.arc path {
  stroke: #fff;
  stroke-width: 5;
}

.arc text {
  stroke: none;
  fill: #333;
}

#torta svg {
  fill: white;
}

.sinbandera {
  border: 1px dashed #888;
  background-color: none;
}

/* Título Elecciones */
.titulo {
  clear: left;
  margin-top: 0px;
}

/* logo de ADSIB */
.logo-adsib {
  float: left;
  margin-top: -16px;
  margin-right: 15px;
}
.logo-adsib img {
  height: 50px;
}
.geoelectoral-titulo {
  float: left;
  margin-top: 5px;
  margin-bottom: 0;
}

/* breadcrumb separator */
.breadcrumb > li + li:before {
  /*content: "\003E";*/
 content: "";
 padding: 0;
 margin-left: -15px;
}
.breadcrumb li:after{
  position: relative;
  /*content: url('../images/breadcrumb-right.png');*/
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAgCAYAAAD0S5PyAAAABmJLR0QAQgCLAMpNoW+ZAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gocEBEDYmn2owAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAD7SURBVEjHpda9bcMwEIbh9z4nRoIghWfwBC48QVbKGF4pE6TIBJkhReDGhnIuTAWyTIp/V4kk8OhEHg8yd3euYTSEmaG3w+c4dhpDAL2QxoceSNNBK6T5RAuk2GQtpNRCDaSlxVJIubeUQCr55hyk0hNYglRTDylItdUZg9RyV+aQWm9ugL7c3ZuRELuuTD7e92NTMvUAYzdUJ1CPzDOoPp0IALAtRhLACvguQhIAwAC8ZpEFgAD8LiIZ4DEA6ySSAQScA3CKIhnAgL8J8HCHZIBVqIspMNwgBXswxIB/JAM8hT14jgAOYJNfC0X65wtwBDbAT8jkfAOYcQEBJ17vSIZXYwAAAABJRU5ErkJggg==);
  content: url('data:image/svg+xml;utf8,<svg width="18" height="32" xmlns="http://www.w3.org/2000/svg"><g><g><path id="svg_3" d="m0,0l16,16l-16,16l0,-32z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="%23428bca" fill="%23428bca"/><path id="svg_4" d="m0,-2l18,18l-18,18l18,-18" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="%23ffffff" stroke-width="2"/></g></g></svg>');
  z-index: 1;
}
.breadcrumb li a{
  line-height: 32px;
  vertical-align: top;
  color: #fff;
  background: #428bca;
  display: inline-block;
  padding-left: 20px;
}

/* dpas */
.dpas {
  clear: right;
  margin-top: 10px;
}

/* Growl Notifications */
div[growl] {
  position: relative;
}
.growl-container {
  right: 0;
  position: absolute;
  z-index: 100;
}