/*@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);*/
/*@import url(styles/open-sans.css);*/
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/OpenSans-Light-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/OpenSans-LightItalic.ttf) format('truetype');
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans Light';
}
/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 25px;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0px !important;
}
.container section {
  height: 100%;
  width: 100%;
  position: relative;
}

#fondo-mapa {
  width: 100%;
  height: 100%;
  display: block !important;
}
#mapa{
  width: 100%;
  height: 100%;
}

.btn-anios{
  display: none;
}
#menu-anios {
  border-radius: 4px;
  position: absolute;
  width: 140px;
  top: 80px;
  background: #fff;
  opacity: .7;
  max-height: 72%;
  overflow: hidden;
  z-index: 1001;
}
#menu-anios:hover {
  opacity: 1;
  overflow-y: auto;
}
#menu-anios .dropdown-menu{
  position: relative;
}
#menu-anios span{
  padding-right: 0;
}

/* Custom page header */
#header-titulo {
  box-shadow: none;
  cursor: pointer;
}
.header {
  position: absolute;
  margin: 0;
  z-index: 3;
}
/* logo de ADSIB */
.logo-adsib {
  float: left;
  margin-right: 15px;
}
.geoelectoral-titulo {
  margin-bottom: 0px;
  clear: left;
  float: left;
  margin-right: 15px;
  margin-top: 25px;
}

/*-- change anios dropdown color --*/
  a:focus{
    outline: none;
  }
  .dropdown-menu>li>a, .dropdown-menu {
    background-color: #ffffff;
    color: #808090;
  }
  .nav > li > a{
    padding: 4px 15px;
    color: #a5a5a5;
  }
  .col-sm-2.col-xs-3 a:hover{
    z-index: 1;
  }
  .nav-anios{
    left: auto;
    min-width: 132px;
    max-width: 140px;
    padding-left: 0;
  }
  .nav-anios li ul{
    background-color: #fff;
    padding-left: 0px;
    font-size: 12px;
  }
  .nav-anios li a:hover{
    border-left: 1px solid #428bca;
    padding-left: 16px;
    color: #428bca;
    background-color: #fff;
  }
  .nav-anios li a:focus{
    background-color: #fff;
  }
  .nav-anios li ul a:hover{
    border-left: 1px solid #428bca;
    padding-left: 26px;
  }

  .nav-anios .active > a{
    border-left: 2px solid #428bca;
    color: #1050a0;
    font-weight: bold;
  }
  .nav-anios .active > a:hover{
    border-left: 2px solid #428bca;
    padding-left: 15px;
    color: #1050a0;
  }
  .nav-anios li ul .active a:hover{
    border-left: 2px solid #428bca;
    padding-left: 25px;
  }
  .nav-anios .active > ul{
    margin-bottom: 6px;
  }
  .nav-anios .active>ul:after{
    width: 100%;
  }
  .nav-anios .li-header{
    cursor: default;
  }
  .nav-anios ul.nav li{
    border-bottom: 1px dotted #bbb;
  }

  .nav-anios ul.nav li{
    padding-left: 25px;
    padding-right: 15px;
    color: #a5a5a5;
  }
  .nav-anios:hover ul.nav li{
    padding-right: 10px;
  }
  .nav-anios ul.nav li.active{
    padding-left: 23px;
    color: #428bca;
    border-left: 2px solid #428bca;
    font-weight: bold;
  }
  .nav-anios ul.nav li.active:hover{
    padding-left: 23px;
    border-left: 2px solid #428bca;
    color: #428bca;
  }
  .nav-anios ul.nav li:hover{
    padding-left: 26px;
    border-left: 1px solid #428bca;
    color: #428bca;
  }

  /* Botones de seleccion de tipos dpa */
  .nav-dpa {
    position: absolute;
    bottom: 25px;
  }
  .nav-dpa a {
    text-decoration: none;
  }
  .nav-dpa ul {
    padding: 5px;
  }
  .nav-dpa ul li {
    margin: 0;
    display: inline-block;
    background: #abcdef;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    list-style: none;
    line-height: 24px;
  }
  .nav-dpa ul li a {
    padding: 0px;
    border-radius: 3px;
    padding: 1px 5px;
  }
  .nav-dpa ul .active {
    background: #428bca;
  }
  .nav-dpa ul li.active a {
    background: #428bca;
    color: #fff;
  }



.breadcrumb {
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
}
#mapa-breadcrumb{
  position: absolute;
  top: auto;
  left: 5px;
  bottom: 1px;
  overflow: hidden;
  z-index: 2;
}
.leaflet-bottom.leaflet-right:hover {
  opacity: 1;
}
.leaflet-bottom.leaflet-left {
  top: 0;
  left: -10px;
  bottom: none;
}
/* Custom page footer */
.footer {
  padding-top: 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer .copyleft {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    font-size: 10px;
    width: 360px;
    margin: -3px auto;
  }
}
@media screen and (min-width: 768px) {
  .header {
    cursor: default;
    opacity: .7;
  }
  /* Título Elecciones */
  .logo-adsib img {
    height: 50px;
  }
  .titulo {
    /*float: left;*/
    margin-top: 5px;
    /*margin-bottom: 0px;*/
    margin-right: 33%;
    padding-left: 225px;
  }
  .nav-pestana768{
    display: none;
  }
  .nav-pestana{
    position: fixed;
    top: 10px;
    right: 3px;
    clear: both;
    z-index: 1001;
    opacity: .7;
  }
  .nav-pestana:hover{
    opacity: .7 !important;
  }
  .nav-tabs li.active a,
  .nav-tabs li.active a:hover,
  .nav-tabs li.active a:focus{
    border-color: #bbb #bbb transparent;
  }
  .statistics{
    left: auto;
    position: absolute;
    right: 5px;
    top: 50px;
    width: 32%;
    max-height: 70%;
    overflow: hidden;
    border: 1px solid #bbb;
  }
  .statistics .description{
    opacity: .7;
    background: #fff;
    margin-bottom: 0px;
    height: 90%;
    width: 100%;
  }
  .statistics .description .table{
    margin-bottom: 0px;
  }
  .statistics:hover{
    overflow: auto;
  }
  .statistics .description:hover,
  .statistics:hover .nav-pestana{
    opacity: 1;
  }
  .leaflet-top.leaflet-left {
    top: 71px;
    left: 132px !important;
  }
  #tab-map{
    display: none;
  }
  #menu-anios,
  #mapa-breadcrumb,
  #fondo-mapa{
    display: block !important;
  }
  .leaflet-bottom.leaflet-right {
    opacity: .7;
  }
}
/* Responsive: Portrait tablets and down 768 */
@media screen and (max-width: 767px) {
  .header{
    width: 100%;
    margin-top: -100px;
  }
  .logo-adsib img {
    height: 32px;
  }
  #header-titulo .titulo{
    padding-left: 152px;
    margin-top: 0;
    font-size: 13px;
  }
  .nav-pestana{
    display: none;
  }
  .nav-pestana768{
    position: absolute;
    top: 61px;
    left: 0px;
    clear: both;
    z-index: 3;
  }

  #menu-anios {
    top: 106px;
    background: none;
    height: auto;
    bottom: auto;
  }
  #fondo-mapa{
    padding-top: 125px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    background: #fff;
  }
  .footer {
    display: none;
  }
  #logo-canada,
  #logo-geobolivia {
    display: none;
  }
  /* Space out the masthead */
  .btn-anios{
    color: #428bca;
    display: block;
    font-size: 1.5em;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
  .nav-anios .active > a{
    background: #fff;
  }
  .nav-anios .active > a:hover{
    background: #fff;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .leaflet-top.leaflet-left {
    top: 55px;
    left: auto;
    right: 0px;
  }
  .statistics{
    position: absolute;
    background: #fff;
    width: 100%;
    bottom: 10px;
    top: 103px;
    z-index: 1001;
  }
  body {
    padding-bottom: 0px;
  }
  .leaflet-bottom {
    bottom: 30px;
  }
  .leaflet-bottom.leaflet-right {
    opacity: .1;
  }
  .leaflet-bottom.leaflet-left {
    width: 100%;
  }
  .leaflet-bottom.leaflet-left
  .leaflet-bar.leaflet-control {
    background: #fff;
    width: 100%;
    padding-right: 10px;
  }
  .geoelectoral-titulo {
    margin-top: 5px;
  }
  .leaflet-control-layers-list {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 5px;
    padding: 4px;
    position: absolute !important;
    left: auto;
    right: -8px;
    top: 0;
    width: 200px;
  }
  .nav-dpa {
    font-size: 10px;
    bottom: auto;
    top: 138px;
  }
  .nav-dpa ul li {
    display: block;
    line-height: 18px;
  }
}
/* Estadísticas */
.statistics .numero {
  text-align: right;
}
.statistics h3 {
  margin-top: 0px;
}
.statistics table .bandera {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 20px;
  height: 20px;
}
.statistics table .seleccionado {
  border-radius: 0px !important;
}


/* Tooltip */
#tooltip-mapa hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  border-top: 1px solid #eee;
}

div.tooltip-mapa {
  position: absolute;
  text-align: left;
  width: 115px;
  font: 11px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  padding: 8px;
  pointer-events: none;
  display: none;
}

/* Gráficos */
svg:active, svg g:active {
  cursor: move;
}
.affix-anios, .tooltip-tabla {
  cursor: pointer;
}

/* Mapa */
svg .departamentos path {
  stroke: #bbb;
  opacity: .5;
}
svg .departamentos path.burbuja {
  fill: #bbb;
  opacity: .3;
}
svg .departamentos path.fondo {
  opacity: .3;
}
svg .departamentos path.recinto {
  opacity: .9;
}
svg .departamentos path.recinto:hover {
  opacity: .3;
}

svg.marco-mapa {
  border: 1px solid #999;
  border-radius: 10px;
}
svg .burbuja.recinto{
  display: none;
}
svg .circulo:hover{
  opacity: .3;
}
/* Etiquetas de partidos ganadores - mapa */
svg .barras-etiquetas text {
  /*fill: rgb(44, 44, 44);*/
  text-anchor: left;
  font-size: 15px;
}
svg .fondos rect {
  fill: white;
  opacity: 0;
}

svg .hover:hover {
  stroke: #bbb;
  fill: #bbb;
  opacity: .3;
}

/* Barras */
.bar {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

.x.axis path {
  display: none;
}

.x.axis line {
  stroke: #bbb;
  stroke-dasharray: 2,2;
}

#barras text {
  font: 13px sans-serif;
}

#barras text.etiqueta {
  font: 13px sans-serif;
}

/* Torta */
.arc path {
  stroke: #fff;
  stroke-width: 5;
}

.arc text {
  stroke: none;
  fill: #333;
}

#torta svg {
  fill: white;
}

.sinbandera {
  border: 1px dashed #888;
  background-color: none;
}

/* breadcrumb separator */
.breadcrumb > li + li:before {
  /*content: "\003E";*/
 content: "";
 padding: 0;
 margin-left: -16px;
}
.breadcrumb li svg {
  position: relative;
  margin-left: -1px;
}
.breadcrumb li svg path {
  fill: #abcdef;
}
.breadcrumb li:hover a {
  background: #abcdef;
  color: #6E94C9;
}
.breadcrumb li:hover svg path {
  fill: #abcdef;
}
.breadcrumb li.active a {
  background: #428bca;
  color: #fff;
}
.breadcrumb li.active svg path {
  fill: #428bca;
}

.breadcrumb li a{
  line-height: 32px;
  vertical-align: top;
  color: #408FD8;
  background: #abcdef;
  display: inline-block;
  padding-left: 20px;
  padding-right: 2px;
  text-decoration: none;
}


/* Growl Notifications */
div[growl] {
  position: relative;
}
.growl-container {
  right: 0;
  position: absolute;
  z-index: 1003;
  background: #fff;
}

/* Posicion icono del loader */
#loading-bar-spinner {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
}

.leaflet-control a.leaflet-control-layers-toggle {
  cursor: pointer;
  background-image:url(../images/layers.png);
  height: 26px;
  width: 26px;
}

#linkcsv{
  cursor: pointer;
  padding-left: 5px;
  line-height: 30px;
}

#ctrl-centrar img {
  display: inline-block;
  background:url('../images/locate.svg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo-canada{
  position: absolute;
  bottom: 0px;
  left: 5px;
}
#logo-canada img{
  height: 25px;
}
#logo-geobolivia{
  position: absolute;
  bottom: 0px;
  right: 5px;
}
#logo-geobolivia img{
  height: 25px;
}

.nav.tipo-dpa {
  position: absolute;
  left: 250px;
  bottom: 150px;
  z-index: 1005;
}
.nav-anios .nav .nav {
  display: none;
}
.nav-anios .nav .nav.active{
  display: block;
}
