/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  width:60px;
}

.header input[type=range] {
  float: right;
  width: 75%;
  margin-top: 10px;
}
.slider {
  clear: both;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer .copyleft {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.container-narrow > hr {
  margin: 30px 0;
}

.container section {
  min-height: 585px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up 768 */
@media screen and (max-width: 768px) {
  /* Customize container */
  .container {
    max-width: 768px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 20px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@media screen and (min-width: 550px) {
  .header input[type=range] {
    float: right;
    width: 88%;
    margin-top: 10px;
  }
}

/* Estadísticas */
.statistics .numero {
  text-align: right;
}
.statistics h3 {
  margin-top: 0px;
}
.statistics table .bandera {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 20px;
  height: 20px;
}


/* Tooltip */
#tooltip-mapa hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  border-top: 1px solid #eee;
}

div.tooltip-mapa {
  position: absolute;
  text-align: left;
  width: 115px;
  font: 11px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  padding: 8px;
  pointer-events: none;
}

/* Mapa */
svg .departamentos path {
  stroke: white;
}

/* Etiquetas de partidos ganadores - mapa */
svg .etiquetas text {
  fill: rgb(44, 44, 44);
  text-anchor: middle;
  font-size: 11px;
}
svg .fondos rect {
  fill: white;
  opacity: 0;
}

svg .hover:hover {
  fill: orange;
}

/* Barras */
.bar {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

.x.axis path {
  display: none;
}

.x.axis line {
  stroke: #bbb;
  stroke-dasharray: 2,2;
}

#barras text {
  font: 13px sans-serif;
}

#barras text.etiqueta {
  font: 13px sans-serif;
}

/* Torta */
.arc path {
  stroke: #fff;
  stroke-width: 5;
}

.arc text {
  stroke: none;
  fill: #333;
}

#torta svg {
  fill: white;
}

.sinbandera {
  border: 1px dashed #888;
  background-color: none;
}

.titulo h3 {
  margin-top: 0;
}
