<!-- Grafico Mapa -->
<ol id="mapa-breadcrumb" bread-crumbs ng-show="isSelected(4)"></ol>

  <!-- EstadisticS -->
    <div class="nav-pestana768">
      <ul class="nav nav-tabs pull-right">
        <li id="tab-map" ng-class="{active: isSelected(4)}">
          <a href ng-click="selectTab(4)"><img src="images/icon_mundo.svg" width="56" alt="Mapa" title="Mapa"></a>
        </li>
        <li ng-class="{active: isSelected(2)}">
          <!-- Bar Graph by Simple Icons from The Noun Project -->
          <a href ng-click="selectTab(2)"><img src="images/icon_bar.svg" width="32" alt="Barras" title="Barras"></a>
        </li>
        <li ng-class="{active: isSelected(3)}">
          <!-- pie chart by Pham Thi Dieu Linh from The Noun Project -->
          <a href ng-click="selectTab(3)"><img src="images/icon_pie.svg" width="32" alt="Torta" title="Torta"></a>
        </li>
        <li ng-class="{active: isSelected(1)}">
          <!-- Spreadsheet by dw from The Noun Project -->
          <a href ng-click="selectTab(1)"><img src="images/icon_table.svg" width="32" alt="Tabla" title="Tabla"></a>
        </li>
      </ul>
    </div>
<div class="statistics" ng-hide="isSelected(4)">
    <div class="nav-pestana">
      <ul class="nav nav-tabs pull-right">
        <li id="tab-map" ng-class="{active: isSelected(4)}">
          <a href ng-click="selectTab(4)"><img src="images/icon_mundo.svg" width="56" alt="Mapa" title="Mapa"></a>
        </li>
        <li ng-class="{active: isSelected(2)}">
          <!-- Bar Graph by Simple Icons from The Noun Project -->
          <a href ng-click="selectTab(2)"><img src="images/icon_bar.svg" width="32" alt="Barras" title="Barras"></a>
        </li>
        <li ng-class="{active: isSelected(3)}">
          <!-- pie chart by Pham Thi Dieu Linh from The Noun Project -->
          <a href ng-click="selectTab(3)"><img src="images/icon_pie.svg" width="32" alt="Torta" title="Torta"></a>
        </li>
        <li ng-class="{active: isSelected(1)}">
          <!-- Spreadsheet by dw from The Noun Project -->
          <a href ng-click="selectTab(1)"><img src="images/icon_table.svg" width="32" alt="Tabla" title="Tabla"></a>
        </li>
      </ul>
    </div>
  <div class="description">
    <!-- Tabla -->
    <table class="table table-condensed table-hover" ng-if="isSelected(1)">
      <thead>
        <tr>
          <th></th>
          <th>Partido</th>
          <th class="numero">Votos</th>
          <th class="numero">% votos</th>
        </tr>
      </thead>
      <tbody>
        <tr id="partido_{{partido.id_partido}}" ng-repeat="partido in partidos" title="{{partido.partido_nombre}}<br/>{{partido.observacion}}" data-html="true" data-toggle="tooltip" data-placement="{{$first?'bottom':'top'}}" class="tooltip-tabla" ng-mouseover="hoverIn()" ng-click="seleccionarPartido($index)" >
          <td>
            <div class="bandera" style="background-color: #{{partido.color}};" ng-class="establecerClases(partido)"></div>
          </td>
          <td>{{partido.sigla}}</td>
          <td class="numero">{{partido.resultado | number}}</td>
          <td class="numero">{{partido.porcentaje | number:2}}%</td>
        </tr>
      </tbody>
    </table>
    <a id="linkcsv" type="button" ng-csv="getPartidosTable()" filename="partidos.csv" ng-if="isSelected(1)">Descargar CSV</a>
    <!-- Barras -->
    <div>
      <barras-bolivia class="grafico" data="partidos" tab="{{tab}}" ng-if="isSelected(2)">
      </barras-bolivia>
    </div>
    <!-- Torta -->
    <div>
      <torta-bolivia id="torta" class="grafico" data="partidos" tab="{{tab}}" ng-if="isSelected(3)">
      </torta-bolivia>
    </div>
  </div>
</div>
  <!-- EstadisticS -->

<div id="menu-anios" ng-show="isSelected(4)">
  <button class="btn btn-default btn-anios" type="button" data-toggle="dropdown">{{anio}}
    <span class="caret"></span>
  </button>
  <ul class="nav-anios affix-anios" ng-class="anios_tipo()">
    <li ng-class="{active: a.anio === anio}" ng-repeat="a in aniosLista" >
      <a tabindex="0" ng-click="setAnioIndex($index)">{{a.anio}}</a>
      <ul class="nav" ng-show="a.anio===anio">
        <li ng-repeat="b in a.tipos_eleccion">
          <span class="li-header" ng-class="{active: getTipoEleccion()==b.id_tipo_eleccion}" ng-switch="b.id_tipo_eleccion">
            <span ng-switch-when="1">Plurinominales</span>
            <span ng-switch-when="2">Uninominales</span>
            <span ng-switch-when="6">Gobernaciones</span>
            <span ng-switch-when="7">Municipales</span>
            <span ng-switch-when="8">2da Vuelta</span>
          </span>
          <ul class="nav">
            <li ng-repeat="c in b.id_tipos_dpa" ng-click="setTipoDpa(c,b.id_tipo_eleccion)" ng-class="{active: getTipoDpa()===c && getTipoEleccion()==b.id_tipo_eleccion}" ng-switch="c">
              <!-- <a ng-switch-when="1">Bolivia</a> -->
              <a ng-switch-when="2">Departamento</a>
              <a ng-switch-when="3">Provincia</a>
              <a ng-switch-when="4">Municipio</a>
              <a ng-switch-when="5">Circunscripcion</a>
              <a ng-switch-when="6">Recinto</a>
              <a ng-switch-when="8">Recinto</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div id="tooltip-mapa"></div>