<!-- Grafico Mapa -->
<ol id="mapa-breadcrumb" bread-crumbs ng-show="isSelected(4)"></ol>

  <!-- EstadisticS -->
    <div class="nav-pestana768">
      <ul class="nav nav-tabs pull-right">
        <li id="tab-map" ng-class="{active: isSelected(4)}">
          <a href ng-click="selectTab(4)"><img src="images/icon_mundo.svg" width="54" alt="Mapa" title="Mapa"></a>
        </li>
        <li ng-class="{active: isSelected(2)}">
          <!-- Bar Graph by Simple Icons from The Noun Project -->
          <a href ng-click="selectTab(2)"><img src="images/icon_bar.svg" width="32" alt="Barras" title="Barras"></a>
        </li>
        <li ng-class="{active: isSelected(3)}">
          <!-- pie chart by Pham Thi Dieu Linh from The Noun Project -->
          <a href ng-click="selectTab(3)"><img src="images/icon_pie.svg" width="32" alt="Torta" title="Torta"></a>
        </li>
        <li ng-class="{active: isSelected(1)}">
          <!-- Spreadsheet by dw from The Noun Project -->
          <a href ng-click="selectTab(1)"><img src="images/icon_table.svg" width="32" alt="Tabla" title="Tabla"></a>
        </li>
      </ul>
    </div>
<div class="statistics" ng-hide="isSelected(4)">
    <div class="nav-pestana">
      <ul class="nav nav-tabs pull-right">
        <li id="tab-map" ng-class="{active: isSelected(4)}">
          <a href ng-click="selectTab(4)"><img src="images/icon_mundo.svg" width="56" alt="Mapa" title="Mapa"></a>
        </li>
        <li ng-class="{active: isSelected(2)}">
          <!-- Bar Graph by Simple Icons from The Noun Project -->
          <a href ng-click="selectTab(2)"><img src="images/icon_bar.svg" width="32" alt="Barras" title="Barras"></a>
        </li>
        <li ng-class="{active: isSelected(3)}">
          <!-- pie chart by Pham Thi Dieu Linh from The Noun Project -->
          <a href ng-click="selectTab(3)"><img src="images/icon_pie.svg" width="32" alt="Torta" title="Torta"></a>
        </li>
        <li ng-class="{active: isSelected(1)}">
          <!-- Spreadsheet by dw from The Noun Project -->
          <a href ng-click="selectTab(1)"><img src="images/icon_table.svg" width="32" alt="Tabla" title="Tabla"></a>
        </li>
      </ul>
    </div>
  <div class="description">
    <!-- Tabla -->
    <table class="table table-condensed table-hover" ng-if="isSelected(1)">
      <thead>
        <tr>
          <th></th>
          <th>Partido</th>
          <th class="numero">Votos</th>
          <th class="numero">% votos</th>
        </tr>
      </thead>
      <tbody>
        <tr id="partido_{{partido.id_partido}}" ng-repeat="partido in partidos" title="{{partido.partido_nombre}}<br/>{{partido.observacion}}" data-html="true" data-toggle="tooltip" data-placement="{{$first?'bottom':'top'}}" class="tooltip-tabla" ng-mouseover="hoverIn()" ng-click="seleccionarPartido($index)" >
          <td>
            <div class="bandera" style="background-color: #{{partido.color}};" ng-class="establecerClases(partido)"></div>
          </td>
          <td>{{partido.sigla}} {{partido.candidato}}</td>
          <td class="numero">{{partido.resultado | number}}</td>
          <td class="numero">{{partido.porcentaje | number:2}}%</td>
        </tr>
      </tbody>
    </table>
    <a id="linkcsv" type="button" ng-csv="getPartidosTable()" filename="partidos.csv" ng-if="isSelected(1)">Descargar CSV</a>
    <!-- Barras -->
    <div>
      <barras-bolivia class="grafico" data="partidos" tab="{{tab}}" ng-if="isSelected(2)">
      </barras-bolivia>
    </div>
    <!-- Torta -->
    <div>
      <torta-bolivia id="torta" class="grafico" data="partidos" tab="{{tab}}" ng-if="isSelected(3)">
      </torta-bolivia>
    </div>
  </div>
</div>
  <!-- EstadisticS -->

<div id="menu-anios" ng-show="isSelected(4)">
  <button class="btn btn-default btn-anios" type="button" data-toggle="dropdown">{{anio}}
    <span class="caret"></span>
  </button>
  <ul class="nav-anios affix-anios" ng-class="anios_tipo()">
    <li ng-class="{active: a.anio === anio}" ng-repeat="a in aniosLista" >
      <a tabindex="0" ng-click="setAnioIndex($index)">{{a.anio}}</a>
      <ul class="nav" ng-show="a.anio===anio">
        <li ng-click="setTipoEleccion(b.id_tipo_eleccion)" ng-repeat="b in a.tipos_eleccion" ng-class="{active: getTipoEleccion()==b.id_tipo_eleccion}">
          {{getNombreTipoEleccion(b.id_tipo_eleccion)}}
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="nav-dpa">
  <ul>
    <li ng-repeat="a in currentDpa.tiposDpa.id_tipos_dpa"
        ng-if="a!=7 && a!=9 && !(currentDpa.idTipoDpaActual<2 && (a==6 || a==8))"
        ng-click="setTipoDpa(a,currentDpa.tiposDpa.id_tipo_eleccion)"
        ng-class="{active: getTipoDpa()==a}">
      <span ng-switch="a">
        <a ng-switch-when="1">Pais</a>
        <a ng-switch-when="2">Departamentos</a>
        <a ng-switch-when="3">Provincias</a>
        <a ng-switch-when="4">Municipios</a>
        <a ng-switch-when="5">Circunscripciones</a>
        <a ng-switch-when="6" ng-if="currentDpa.idTipoDpaActual>=2">Recintos</a>
        <a ng-switch-when="8" ng-if="currentDpa.idTipoDpaActual>=2">Recintos</a>
      </span>
    </li>
  </ul>
</div>

<div id="tooltip-mapa"></div>
